<nav>
    <div class=logo>
        <h4><img src="Images/Logo.PNG" alt=""></h4>
    </div>
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="Aboutus">About Us</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>