<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="Stylesheet/Style.css">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Home| Blog</title>
</head>
<body> 
    <%- include('partials/Navbar') %>
    <h1 class="Home-heading">Welcome to V-Blog</h1>
    <p>Give a place to your idea n creativity and share it with other</p>
</body>
</html>
