<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="Stylesheet/user-style.css">
    <title>Profile | Blog</title>
</head>
<body>
    <%- include('partials/user-navbar') %>
    <h1>Edit Profile</h1>
    <form action="/profileedit" method="POST">
        <div class="grid-prof general-form">
            <div class="row">
                 <label for="name">Username</label>
            </div>
            <div class="col">
                <input type="text" id="name" name="username" value="<%=username%>">
            </div>
            <div class="row">
                <label for="email">Email</label>
            </div>
            <div class="col">
                <input type="text" id="email" name="email" value="<%=email%>">
            </div>
        </div>
        <div class="btn">
            <button>Submit</button>
        </div> 
    </form>


     
</body>
</html>